WHATSAPP_VERIFY_TOKEN=test_token_12356789
WHATSAPP_ACCESS_TOKEN=EAANR0fh7QtMBRcZCqD18vejdjfpbNn2CkzC8RSLLueSPiR9clIsiXxtUo0qYIrvhJr7fZBONWCyd9EwO3rW4LlPiZBPVZAO215IhNpbJjvZCelSBM8LCoRKZAlLIHgFjp4nN6lIc14xCc8EsFykAJWFeDSCyipJDJVBr0QO3U8zGTGkr0sdpMz6NPMnrYsPESfZAAZDZD
WHATSAPP_PHONE_NUMBER_ID=1016038711595875
WHATSAPP_GRAPH_VERSION=v23.0
